* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFFFF;

}

.logo {
    width: 139px;
    height: 60px;
}

/* nav */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
}

.fonts-Inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btn {

    height: 44px;
    gap: 10px;
    padding: 12px 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}

/* banner */

#banner {
    background-image: url(../images/assets/hero-bg.png);
    height: 674px;

    padding: 115px 120px 179px 120px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
}

.banner-Fockus {
    background-color: #FFFFFF;

    width: 229px;
    text-align: center;
    border-radius: 1000px;

    padding: 5px;

    margin-bottom: 16px;
}

.banner-Fockus p {
    color: #469165;
    font-weight: 500;
}

.banner-content h1 {
    color: #FFFFFF;
    opacity: 90%;
    font-size: 72px;
}

.banner-content h2 {
    color: #30B868;
    font-weight: bold;
    opacity: 0.9;
    font-size: 72px;
    margin-bottom: 16px;


}

.banner-content .banner-text {
    color: #FFFFFF;


    font-size: 18px;
    line-height: 24px;
    max-width: 1360px;
    margin-bottom: 32px;



}

.banner-content {
    max-width: 1360px;
    padding: 51px 295px 76px;

}

.banner-content .btn {
    align-items: center;

    margin-right: 16px;
    width: 251px;

}

.banner-content .btn img {
    align-items: center;
    text-align: center;
}

.btn-2 {
    margin: 2444px solid #FFFFFF;
    border-radius: 4px;
    width: 198px;
    background-color: transparent;

    padding: 16px;
    text-align: center;

}

.btn-2 img {
    margin-right: 10px;

}

/* Features */

#Features {

    background-color: #FFFFFF;
    margin-top: 0px;
    padding: 0 120px;
    text-align: center;
}

.seaction-heading {
    padding-top: 50px;
}

.seaction-heading h2 {
    font-size: 48px;
    font-weight: 900;
    color: #001931;
    margin-bottom: 16px;
}

.seaction-heading p {
    font-size: 20px;
    color: #627382;

}

.Features-box {
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.Features-card {
    background-color: #FFFFFF;
    padding: 24px;
    box-shadow: 0 0 8px 0 #0000064f;
    border-radius: 8px;
}

.Features-card img {
    background-color: #F95555;
    padding: 24px;

    border-radius: 100px;
}

.Features-card h2 {
    color: #001931;
    padding: 24px;
    font-weight: 600;
    border-radius: 100px;
}

/* The Solution */

#Solution {
    background-color: #FFFFFF;
    padding: 120px;
}

.Solution-continer {
    display: flex;
    gap: 60px;

}

.Solution-info {
    margin: 120px 0;
    text-align: left;

}

.Solution-info-1 .Solution-info-p {
    color: #469165;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.Solution-info-1 h2 {
    color: #001931;
    line-height: auto;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.Solution-info-1 .Solution-info-p-2 {
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 16px;
}

.Solution-info-2 div {
    display: flex;
    gap: 6px;
}

.Solution-info-2 div p {
    color: #001931;
    line-height: 20px;
    font-weight: 500;
}

#early-access {
    background-color: #FFFFFF;
    padding: 0 120px 120px 120px;
    text-align: center;
}

.early-container {
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}

.early-header h1 {
    color: #001931;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.early-header p {
    color: #627382;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.early-fotter .btn{
      margin-bottom: 16px;
}

.early-fotter p{
      margin-bottom: 16px;
      color: #627382;
}

footer{
    background-color: #001931;
    padding: 120px 120px 0 120px;
}
.footer-header{
    display: flex;
   justify-content: space-between;
   margin-bottom: 80px;
}

.footer hr{
    margin-bottom: 30px;
    background-color: #000000;
    color: #000;

}

.footer-copyright{
     padding-bottom: 30px;
     text-align: center;
     color: #FAFAFA;
     line-height: 24px;
     font-size: 16px;
}

.Social{
    color: #FFFFFF;
}