* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFFFF;

}

.logo {
    width: 139px;
    height: 60px;
}

/* nav */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding: 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
}


.menu li a{
    color: #000000;
    text-decoration: none;
}
.menu li a:hover{
    color: #743b1a;
    text-decoration: none;
}
.fonts-Inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btn {

    height: 44px;
    gap: 10px;
    padding: 12px 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




.btn:hover {

    height: 44px;
    gap: 10px;
    padding: 12px 16px;
    font-weight: 600;
    color: #070101;
    background-color: rgba(8, 143, 8, 0.555);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* banner */

#banner {
    background-image: url(../images/assets/hero-bg.png);
    height: 674px;
    padding: 0px 7px 0 7px;
    background-repeat: no-repeat;
    text-align: center;
    border: 1px solid black;
    margin: 0;


}

.banner-content {

    padding: 51px 295px 76px;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.banner-Fockus {
    background-color: #FFFFFF;

    width: 200px;

    border-radius: 100px;

    padding: 5px;

    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.banner-Fockus .dot {

    background-color: green;
    width: 5px;
    height: 5px;
    font-size: x-large;
    color: #df0f00;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 7px;
    box-shadow: 0px 2px 10px #469165;
    margin-top: 0;
    margin-left: 10px;

}


.banner-Fockus p {
    color: #469165;
    font-weight: 500;
}

.banner-content h1 {
    color: #FFFFFF;
    opacity: 0.9;
    font-size: 72px;
}

.banner-content h2 {
    color: #30B868;
    font-weight: bold;
    opacity: 0.9;
    font-size: 72px;
    margin-bottom: 16px;


}

.banner-content .banner-text {
    color: #FFFFFF;


    font-size: 18px;
    line-height: 24px;

    margin-bottom: 32px;



}



.banner-content .btn {
    align-items: center;

    margin-right: 16px;
    width: 251px;

}

.banner-content .btn img {
    align-items: center;
    text-align: center;
}

.btn-2 {
    display: flex;
    border: 2px solid white;
    border-radius: 4px;
    width: 198px;
    height: 44px;
    background-color: transparent;
    padding: 16px;
    color: #FFFFFF;
    align-items: center;
}


.btn-flex {
    display: flex;
    height: 44px;
    gap: 10px;
    padding: 12px 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}






.btn-flex:hover {

    height: 44px;
    gap: 10px;
    padding: 12px 16px;
    font-weight: 600;
    color: #070101;
    background-color: rgba(5, 107, 5, 0.562);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-2 i {
    margin-right: 10px;

}

.btn-2:hover {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.548);
    border-radius: 4px;
    width: 198px;
    height: 44px;
    background-color: transparent;
    padding: 16px;
    color: #ffffff79;
    align-items: center;
    cursor: pointer;
}

.button {
    display: flex;
    gap: 16px;
    text-align: center;
}

/* Features */

#Features {

    background-color: #FFFFFF;
    margin-top: 0px;
    padding: 0 120px;
    text-align: center;
}

.seaction-heading {
    padding-top: 50px;
}

.seaction-heading h2 {
    font-size: 48px;
    font-weight: 900;
    color: #001931;
    margin-bottom: 16px;
}

.seaction-heading p {
    font-size: 20px;
    color: #627382;

}

.Features-box {
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.Features-card {
    background-color: #FFFFFF;
    padding: 64px 24px;
    box-shadow: 0 0 8px 0 #00000628;
    border-radius: 8px;
    width: 322px;

}

.Features-card img {
    background-color: #F95555;
    padding: 16px;
    border-radius: 100px;

}

.Features-card h2 {
    color: #001931;
    padding-bottom: 16px;
    font-weight: 600;
    border-radius: 100px;
}

.Features-card p {
    color: #627382;

    line-height: 20px;
}

/* The Solution */

#Solution {
    background-color: #FFFFFF;
    padding: 120px;
}

.Solution-continer {
    display: flex;
    gap: 60px;

}

.Solution-info {
    margin: 120px 0;
    text-align: left;

}

.Solution-info-1 .Solution-info-p {
    color: #469165;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.Solution-info-1 h2 {
    color: #001931;
    line-height: auto;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.Solution-info-1 .Solution-info-p-2 {
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 16px;
}

.Solution-info-2 div {
    display: flex;
    gap: 6px;
}

.Solution-info-2 div p {
    color: #001931;
    line-height: 20px;
    font-weight: 500;
}

#early-access {
    background-color: #FFFFFF;
    padding: 0 120px 120px 120px;
    text-align: center;
}

.early-container {
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.early-header h1 {
    color: #001931;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.early-header p {
    color: #627382;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}
.early-fotter {
     display: flex;
    flex-direction: column;
    align-items: center;
}

.early-fotter .btn-flex {
    margin-bottom: 16px;
}

.early-fotter p {
    margin-bottom: 16px;
    color: #627382;
}

footer {
    background-color: #001931;
    padding: 120px 120px 0 120px;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer hr {
    margin-bottom: 30px;
    background-color: #000000;
    color: #000;

}

.footer-copyright {
    padding-bottom: 30px;
    text-align: center;
    color: #FAFAFA;
    line-height: 24px;
    font-size: 16px;
}

.Social p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.icons a {
    background-color: #fff;
    color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
  margin-right: 10px;
    text-decoration: none;
   
      justify-content: center;
}

.icons {
   margin-top: 16px;
}


.border{
    border: 1px solid #E5E7EB;
    margin-bottom: 30px;
}